* {
  box-sizing: border-box;
}

nav {
  background-color: #4b62ea;
}

body {
  background-image: linear-gradient(#4b62ea, #7a2ee4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #f3f3f3;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 1;
}
